<div data-options="dxView : { name: 'connexion', title: 'Connexion' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">


            <form role="form">
                <div class="form-group">
                    <label for="inputUsername">@Username</label>
                    <input class="form-control" id="inputUsername" placeholder="@Username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">@Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="@Password">
                </div>            
                <button type="submit" class="btn btn-default">@Sign_in</button>
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </form>


        </div>
    </div>
</div>
